* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

#background {
	background-image: url("griddybackgroundbig2.png");
	background-size: 100%;
	background-repeat: no-repeat;	
	}

#canvas {

	border:	0.75em solid rgb(31, 53, 90);
	width:	80%; 
	height:	80%;
	margin: 10%;
	padding:10px;
	}
