* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

body{
background-image: url("griddybackgroundbig2.png");
background-size: cover;
}

#canvas {

	border:	0.75em solid rgb(31, 53, 90);
	width:	80%;
	max-height: 900px;
	margin: 10px;
	padding:10px;
	}
